<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- 1、resource 使用配置文件  2、class使用注解-->
		<mapping resource="com/dimit/base/entity/Event.hbm.xml"/>
		<mapping resource="com/dimit/base/entity/Person.hbm.xml"/>
	</session-factory>
</hibernate-configuration>